#element-container{
	flex-direction: column;
}

#main-container{
	flex-direction: row;
}

#element-button{
	width: 75px;
	height: 75px;
}

#sub-container{
	flex-direction: row;
}

#element-name{
	font-size: 15px;
}