#root-panel {
    flex-direction: row;
    min-height: 1000px;
}

#main-panel {
    width: 80%;
    height: 100%;
}

#main-menu-panel VisualElement {
    flex-direction: row;
}

#size-field {
    font-size: 20px;
    -unity-font-style: bold;
}

#size-field Label {
    font-size: 10px;
}

#palette-panel {
    width: 20%;
}

#palette-element-panel {
    padding-left: 30%;
    align-content: center;
}
